@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8FCFF;
  --foreground: #171717;
  --icon: #03314B;
  --menu-hover: #F1F5F4;
  --menu-active: #E9F6FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F8FCFF;
    --foreground: #171717;
    --icon: #03314B;
    --menu-hover: #F1F5F4;
    --menu-active: #E9F6FF;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0F172A;
    --foreground: #E2E8F0;
    --icon: #94A3B8;
    --menu-hover: #1E293B;
    --menu-active: #2D3B55;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.pt-header {
  padding-top: 4rem; /* 64px */
}

.pb-player {
  padding-bottom: 5rem; /* 80px */
}
